body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: silver;
    opacity: 1;
}
.partie1{
    margin-top: 100px;
    margin-left: 20px;
}
.form-group > input{
    width: 350px;
    margin-left: 10px;
    margin: 10px;
}
.btn-primary{
    width: 350px;
    margin-left: 10px;
}


a{
    margin-left: 130px;
    margin-top: 30px;
}
.p2{
    margin-top: 13px;
}
span{
    margin-left: 170px;
}
hr{
    margin: 10px 10px;
    color: gray;
}
.partie2{
    background-color: #fff;
    height: 310px;
    width: 380px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: gray;
}