body{
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color: SILVER;
}
.div1{
    margin: 7px;
    padding: 5px;
    background-color: #4169E1;
    color: #fff;
    width: 100%;
    height: 1228px;
}
.div1 > h6{
    margin-left: 70px;
}
.div1 > h5{
    margin-left: 70px;
}
.div1 > p{
    margin-left: 45px;
}
p > i{
    margin-right: 15px;
    font-size: 25px;
    
}
.p1{
    margin-left: 60px;
    margin-top: 20px;
}
img{
    position: relative;
    left: 80px;
    top: 10px;
    margin-bottom: 15px;
    border-radius: 90px 90px 90px 90px;
}
.div1 > hr{
    margin-left: 80px;
    background-color: #00CED1;
}
a i{
    margin-top: 55px;
    padding: 18px;
    font-size: 30px;
    color: #fff;
}
p > span{
    margin-left: 45px;
    font-size: 12px;
    color: azure;
}
.about{
    background-color: white;
    height: 140px;
    width: 730px;
    margin-top: 10px;
}
.about > p {
    margin-left: 70px;
    
    
}
.about > h5 {
    margin-left: 25px;
    margin-top: 10px;
    
}
h5 > i {
    margin-right: 20px;
    color: gray

    
}
.work{
    background-color: white;
    margin-top: 25px;
    height: 445px;
    width: 730px;
}
.work > p {
    margin-left: 70px;
}
.work > h5 {
    margin-left: 25px;
    
}
.h5 > i {
    margin-right: 20px;
    
}
.work > h6 {
    margin-left: 70px;
    
}
strong{
    color: #4169E1;
}
.education{
    background-color: white;
    margin-top: 25px;
    width: 730px;
    height: 210px;
    
}
.education > p {
    margin-left: 70px;
}
.education > h5 {
    margin-left: 25px;
}
h5 > i{
    margin-right: 20px;
}
.achievements{
    background-color: white;
    margin-top: 25px;
    width: 730px;
    height: 195px;
    
}
.achievements > p {
    margin-left: 70px;
}
.achievements > h5 {
    margin-left: 25px;
}
.hobby{
    background-color: white;
    margin-top: 25px;
    width: 730px;
    height: 135px;
    margin-bottom: 10px;
}
.hobby > h5 {
    margin-left: 20px;
}
 .fa-grin {
    margin-right: 20px;
    color: gray;
} 
.hobby p i {
    margin-left: 60px;
    padding: 20px;
    font-size: 30px;
    color:  #4169E1;
    margin-top: 15px ;
}
.tre {
    margin-left: 70px;
    background-color: gray;
}
.bar{
    background-color:#4169E1;
    display: block;
    height: 3px;

    border-radius: 50px;
    
    box-shadow: 0 0 10px #fff;
    margin-left: 70px;
    margin-top: 10px;
}
.bar span{
    height: 3px;
    float: left;
    background-color: white;
    border-radius: 30px;
}
.html{
    width: 90%;
}
.jquery{
    width: 60%;
}
.javascript{
    width: 50%;
}
.bootstrap{
    width: 80%;
    height: 30px;
}
.wordpress{
    width: 70%;
}
.code{
    width: 65%;
}
.angular{
    width: 55%;
}
.creativity{
    width: 85%;
}
.leadership{
    width: 80%;
}
.communication{
    width: 75%; 
}
