body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn-primary{
    width: 380px;
    margin-left: 10px;
    border-radius: 20px;
    height: 50px;
}
.form-group > input{
    width: 380px;
    margin-left: 10px;
    margin: 10px;
    height: 55px;
    border: 1px solid gray;
}
.form-group > input:hover{
   border: 2px solid  #2C4CFF;
}
.inscrir{
    margin-top: 30px;
    margin-left:  220px; ;
}
i{
    font-size: 40px;
    color: blue;
}
a{
    margin-left: 25px;
    text-decoration: none;
}
h1{
    margin-top: 20px;
}